## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path: 自訂為 Day_004_Data
dir_data = './Day_004_Data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./Day_004_Data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
# show the number of rows and columns
rows = app_train.shape[0]
columns = app_train.shape[1]
print('row 數：%s' % (rows))
print('column 數：%s' % (columns))

row 數：307511
column 數：122

#### 列出所有欄位

In [5]:
# the column labels
# this gets the data
c = app_train.columns
print(c)

# this prints columns in a pretty format
app_train.head(0)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

Empty DataFrame
Columns: [SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, ...]
Index: []

[0 rows x 122 columns]

#### 截取部分資料

In [6]:
# select the individuals with payment difficulties (TARGET=1)
late = app_train.loc[app_train['TARGET'] == 1]

# are these individuals having children?
late.loc[late['CNT_CHILDREN'] > 0]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246,100286,1,Cash loans,M,Y,Y,1,121500.0,263686.5,17298.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
255,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
261,100301,1,Cash loans,M,N,Y,1,112500.0,571486.5,31131.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,2.0
389,100452,1,Cash loans,M,N,Y,1,171000.0,1009566.0,36391.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
408,100472,1,Cash loans,M,Y,Y,1,135000.0,545040.0,26509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
413,100477,1,Cash loans,M,Y,Y,1,112500.0,284400.0,22599.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
419,100485,1,Revolving loans,M,Y,N,1,270000.0,810000.0,40500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
470,100540,1,Cash loans,F,N,Y,1,157500.0,338832.0,26901.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
471,100541,1,Cash loans,F,Y,N,2,180000.0,900000.0,43299.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
563,100649,1,Cash loans,F,N,N,2,180000.0,284400.0,13387.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
603,100690,1,Cash loans,F,N,Y,1,135000.0,244998.0,16704.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
699,100808,1,Cash loans,F,N,Y,2,135000.0,640080.0,31261.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
849,100971,1,Cash loans,F,Y,N,1,180000.0,948582.0,33736.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
866,100992,1,Cash loans,M,N,N,2,135000.0,203760.0,13396.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
870,100996,1,Cash loans,F,N,N,1,94500.0,675000.0,26154.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
904,101042,1,Cash loans,F,N,Y,1,81000.0,521280.0,22959.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
921,101063,1,Cash loans,M,Y,N,2,202500.0,755190.0,38686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
970,101121,1,Cash loans,M,N,Y,2,180000.0,436032.0,20326.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
986,101142,1,Cash loans,F,N,Y,2,135000.0,312768.0,17095.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
991,101147,1,Cash loans,M,N,Y,2,315000.0,1165500.0,34209.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1035,101201,1,Cash loans,F,N,Y,2,99000.0,180000.0,14562.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1071,101245,1,Cash loans,M,N,Y,1,112500.0,314100.0,19215.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1145,101340,1,Cash loans,F,N,Y,1,135000.0,148500.0,15993.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1205,101420,1,Cash loans,M,Y,N,2,180000.0,972000.0,28417.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1248,101474,1,Cash loans,F,Y,Y,1,225000.0,576072.0,26986.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1257,101484,1,Cash loans,F,N,Y,1,135000.0,645048.0,35122.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1286,101515,1,Cash loans,F,N,Y,2,112500.0,152820.0,11205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306309,454892,1,Cash loans,M,Y,Y,1,180000.0,521280.0,28408.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306348,454937,1,Cash loans,F,N,Y,1,135000.0,970380.0,34510.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
306386,454978,1,Cash loans,M,Y,N,2,292500.0,718749.0,52429.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,5.0
306399,454992,1,Cash loans,F,Y,N,1,270000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,3.0
306439,455038,1,Cash loans,F,N,Y,3,238500.0,182016.0,12294.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306452,455053,1,Cash loans,F,Y,Y,2,324000.0,945000.0,30613.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306483,455091,1,Cash loans,M,Y,Y,2,94500.0,675000.0,21775.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306509,455118,1,Revolving loans,M,Y,Y,1,157500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306557,455177,1,Cash loans,F,N,N,2,112500.0,360000.0,17509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306567,455189,1,Cash loans,M,Y,Y,1,157500.0,540000.0,17550.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
306631,455264,1,Cash loans,F,N,Y,1,45000.0,755190.0,34992.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306651,455287,1,Cash loans,F,N,Y,1,90000.0,173196.0,19669.5,...,0,0,0,0,0.0,0.0,0.0,5.0,0.0,2.0
306654,455290,1,Cash loans,M,Y,Y,1,171000.0,414792.0,21307.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
306710,455352,1,Cash loans,M,N,Y,1,450000.0,781920.0,42547.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306786,455443,1,Cash loans,M,N,Y,2,202500.0,247275.0,22810.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306813,455470,1,Cash loans,M,N,Y,2,225000.0,906228.0,38524.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
306957,455629,1,Cash loans,F,Y,Y,2,135000.0,219249.0,16083.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
306985,455665,1,Cash loans,F,N,Y,1,90000.0,238500.0,16065.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306995,455675,1,Cash loans,F,N,Y,1,112500.0,590337.0,28530.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307042,455726,1,Cash loans,F,N,N,1,162000.0,521280.0,26743.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,6.0
307082,455772,1,Cash loans,M,Y,Y,2,76500.0,545040.0,26640.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307096,455786,1,Cash loans,M,Y,N,1,202500.0,1067418.0,31207.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307104,455795,1,Cash loans,F,N,N,1,90000.0,521280.0,26613.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307123,455819,1,Cash loans,M,Y,Y,1,225000.0,1149628.5,48838.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,2.0
307126,455822,1,Cash loans,M,Y,N,2,112500.0,450000.0,30573.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307328,456052,1,Cash loans,M,Y,N,1,135000.0,316125.0,15372.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307383,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307475,456215,1,Cash loans,F,N,N,1,144000.0,1303200.0,46809.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子